<title>CS140 Lecture notes -- Random Numbers, Strings, Polymorphism, Exceptions</title>
<body bgcolor=ffffff>
<h2>CS140 Lecture notes -- Random Numbers, Strings, Polymorphism, Exceptions</h2>
<LI><a href=http://web.eecs.utk.edu/~jplank>Jim Plank</a>
<LI>Directory: <b>~jplank/cs140/notes/String</b>
<LI>Lecture notes:
    <a href=http://web.eecs.utk.edu/~jplank/plank/classes/cs140/Notes/String>
    <b>http://web.eecs.utk.edu/~jplank/plank/classes/cs140/Notes/String</b></a>
<LI> Original Notes: Sometime in the 1990's
<LI> Latest Revision: <i> 
Tue Sep  3 16:15:08 EDT 2019
</i>
<hr>

<h2>Dealing with C style strings</h2>

<p>
At the end of this lecture, I give you some optional material about C and C++
strings.  I am making that optional, though, because I think at this stage it is
more confusing than good.  Thus, you should simply use C++ style strings
for everything, but be aware that you will have to deal with C-style strings in a
few situations.

<UL>
<LI> <i>Some procedures and methods require them</i>.  You have already seen
<b>printf()</b>.  Opening files with <b>fstreams</b> also requires C-style strings
rather than C++ -- simply be aware of it, and use the <b>c_str()</b> method when
you want to convert it to a C-style string for this reason.
<p>
<LI> <i>Argv is composed of C-style strings.</i>  When you encounter a C-style
string, just copy it to a C++ string, and then you can use it happily.
<p>
<LI> <b>sscanf()</b>: You'll be exposed to the joys of <b>sscanf()</b> soon enough.
Just keep it in the back of your mind.
</UL>

<hr>
<h2>Random Numbers</h2>

The issue of random numbers is a thorny one.   C's <b>rand()</b> has undergone
a number of changes and is not a very good random number generator.  I don't
believe that <b>drand48()/lrand48()</b> has changed over time, but it's a pretty 
bad random number generator.  I don't recommend that you use <b>lrand48()</b>, because
it is so bad.  
C++11 implements a variety of random number generators -- go ahead and read
<a href=https://en.cppreference.com/w/cpp/numeric/random>https://en.cppreference.com/w/cpp/numeric/random</a> if you care.  They are a little clunky for my tastes, and I've been burned by 
underlying RNG implementations changing, so I don't use them.  However, that doesn't preclude
you from using them, so feel free to.
<p>
What I'm going to do in this class is use a header-only RNG library that my research group
uses.  It's called the "Mother of All" RNG, and the original code is available on Github
at <a href=https://github.com/mfoo/Math-Library-Test/blob/master/src/mother.cpp>https://github.com/mfoo/Math-Library-Test/blob/master/src/mother.cpp</a>.  It is open source, so use it however you
want. When I use it in a set of lecture notes, I'll include the header file in the lecture
note directory.  In this directory, it is in 
<b><a href=MOA.hpp>MOA.hpp</a></b>.   Here are the relevant parts of the class definition:

<p><center><table border=3 cellpadding=3><td><pre>
<font color=blue>/* These are wrappers around the "Mother of All" random number generator from 
   http:<font color=blue>//www.agner.org/random/.</font>
 */</font>

#pragma once
#include &lt;stdio.h&gt;
#include &lt;stdlib.h&gt;
#include &lt;string.h&gt;
#include &lt;cstdint&gt;

class MOA {
  public:
    double   Random_Double();                <font color=blue>/* Returns a double in the interval [0, 1) */</font>
    double   Random_DoubleI();               <font color=blue>/* Returns a double in the interval [0, 1] */</font>
    int      Random_Integer();               <font color=blue>/* Returns an integer between 0 and 2^31-1 */</font>
    uint32_t Random_32();                    <font color=blue>/* Returns a random 32-bit number */</font>
    uint64_t Random_64();                    <font color=blue>/* Returns a random 64-bit number */</font>
    void     Random_128(uint64_t *x);        <font color=blue>/* Returns a random 128-bit number */</font>
    uint32_t Random_W(int w, int zero_ok);   <font color=blue>/* Returns a random w-bit number. (w &lt;= 32)*/</font>
    void     Fill_Random_Region (void *reg, int size);   <font color=blue>/* reg should be aligned to 4 bytes, but
                                                                   size can be anything. */</font>
    void     Seed(uint32_t seed);            <font color=blue>/* Seed the RNG */</font>
</pre></td></table></center><p>

To demonstrate its simple use, the program
<b><a href=gendouble.cpp>gendouble.cpp</a></b> reads a number from standard input, and then
generates that many random doubles, between 0 and 1:

<p><center><table border=3 cellpadding=3><td><pre>
<font color=blue>/* This program uses the Mother of All random number generator from MOA.hpp to print
   a bunch of random doubles between 0 and 1. */</font>

#include "MOA.hpp"
#include &lt;iostream&gt;
#include &lt;cstdio&gt;
using namespace std;

int main()
{
  MOA rng;
  double d;
  int n, i;

  <font color=blue>/* Read a value, n, from standard input. */</font>

  if (!(cin &gt;&gt; n)) return 1;

  <font color=blue>/* Generate n random doubles and print them. */</font>

  rng.Seed(0);
  for (i = 0; i &lt; n; i++) {
    d = rng.Random_Double();
    printf("%7.5lf\n", d);
  }

  return 0;
}
</pre></td></table></center><p>

It works as expected, and is pretty unexciting.  Since I set the seed to zero, you get
the same random numbers every time.  If you don't set the seed, it sets the seed to the
current time (in seconds), so you get a different sequence each time you run the program.

<pre>
UNIX> <font color=darkred><b>echo 2 | ./gendouble</b></font>
0.33661
0.58429
UNIX> <font color=darkred><b>echo 4 | ./gendouble</b></font>
0.33661
0.58429
0.33730
0.79562
UNIX> <font color=darkred><b></b></font>
</pre>

The MOA generator is pretty simple and fast.

<hr>
<h2>The String Methods Find() and Substr(), plus Polymorphism</h2>

Strings have a method <b>find()</b> that allows you to look for characters and
substrings.  You can call it in a variety of ways.  

<b>Find()</b> is a method that allows you to find characters or substrings within strings.
Read the 
<a href=http://www.cppreference.com/wiki/string/basic_string/find>reference page</a>
from <b><a href=http://www.cppreference.com>www.cppreference.com</a></b>.  It defines four
<b>find()</b> methods, and these can have multiple sets of parameters.  
The program <b><a href=string-find.cpp>string-find.cpp</a></b>
illustrates all of those parameter combinations:

<p><center><table border=3 cellpadding=3><td><pre>
<font color=blue>/* This program demonstrates all of the ways to call the find() method of strings. */</font>

#include &lt;iostream&gt;
#include &lt;string&gt;
#include &lt;cstdlib&gt;
#include &lt;cstdio&gt;
using namespace std;

int main()
{
  string a, b;
  size_t i;

  <font color=blue>/* Set two strings to use as examples. */</font>

  a = "Lighting Strikes.  Lightning Strikes Again.";
  b = "Light";

  <font color=blue>/* Print out the strings with digits over the top, so that it's easier to see the digits. */</font>

  cout &lt;&lt; "    ";
  for (i = 0; i &lt; a.size(); i++) cout &lt;&lt; i%10;
  cout &lt;&lt; endl;

  cout &lt;&lt; "a = " &lt;&lt; a &lt;&lt; endl;
  cout &lt;&lt; "b = " &lt;&lt; b &lt;&lt; endl;
  cout &lt;&lt; endl;

  <font color=blue>/* We call a.find() in a variety of ways.  Ignore the printf statements, because they
     are a little confusing.  Just look at the calls on the right. */</font>

  printf("a.find(b) = %ld\n",               a.find(b));
  printf("a.find(b, 1) = %ld\n",            a.find(b, 1));
  printf("a.find(b, 20) = %ld\n",           a.find(b, 20));
  printf("a.find('g') = %ld\n",             a.find('g'));
  printf("a.find('g', 20) = %ld\n",         a.find('g', 20));
  printf("a.find(\"Strike\") = %ld\n",      a.find("Strike"));
  printf("a.find(\"Strike\", 20) = %ld\n",  a.find("Strike", 20));
  printf("a.find(\"Aging\", 0, 2) = %ld\n", a.find("Aging", 0, 2));
  printf("\n");

  printf("string::npos = %ld\n", string::npos);
  return 0;
}
</pre></td></table></center><p>

The first three <b>find()</b> calls illustrate finding a C++ string within a string.
It returns the index of the first occurrence of the substring.  If you call  <b>find()</b>
with a second argument, it says to start looking after that index.  The first occurrence
of "Light" after character 1 is at character 19.
If <b>find()</b> fails, it returns <b>string::npos</b>, which is in reality -1.  However,
you should use <b>string::npos</b> rather than -1 to make your programs more portable.

<p>
The next two <b>find()</b>'s show finding a character, and the next two show finding a 
C style substring.  The last one shows that if you give it a C style substring, a
starting index and a third argument -- <b>count</b>-- it will only look for <b>count</b>
characters of the substring.  Thus, even though "Aging" doesn't appear in the string, 
we're only looking for the first two characters -- "Ag" -- which occur at index 37.

<pre>
UNIX> <font color=darkred><b>./string-find</b></font>
    0123456789012345678901234567890123456789012
a = Lighting Strikes.  Lightning Strikes Again.
b = Light

a.find(b) = 0
a.find(b, 1) = 19
a.find(b, 20) = -1
a.find('g') = 2
a.find('g', 20) = 21
a.find("Strike") = 9
a.find("Strike", 20) = 29
a.find("Aging", 0, 2) = 37

string::npos = -1
UNIX> <font color=darkred><b></b></font>
</pre>

The feature of C++ that lets you define multiple instances of a procedure or method that work
on multiple types of arguments is called <b>polymorphism</b>.  If you give a combination of
arguments that is not supported, then you will get a compilation error. 
For example, in 
<b><a href=bad-find.cpp>bad-find.cpp</a></b>
we make a seemingly innocuous call of "<b>a.find(b, 1, 3)</b>":

<p><center><table border=3 cellpadding=3><td><pre>
<font color=blue>/* This shows how you get a compiler error if you make a find() call with the wrong
   types of arguments.  In this instance, you are trying to call:

   size_type find(const string &str, size_type pos, size_type count);

   However, that combination of parameters is not supported. */</font>

#include &lt;iostream&gt;
using namespace std;

int main()
{
  string a, b;
  int i;

  a = "Lighting Strikes.  Lightning Strikes Again.";
  b = "Light";

  i = a.find(b, 1, 3);
  return 0;
}
</pre></td></table></center><p>


This doesn't compile, because there is no definition of <b>find(string, int, int)</b>.  There
are the following definitions:

<UL>
<LI> <b>find(string)</b>
<LI> <b>find(string, int)</b>
<LI> <b>find(char *)</b>
<LI> <b>find(char *, int)</b>
<LI> <b>find(char *, int, int)</b>
</UL>

None of them match, so you get a compiler error:

<pre>
UNIX> <font color=darkred><b>g++ bad-find.cpp</b></font>
bad-find.cpp:19:9: error: no matching member function for call to 'find'
  i = a.find(b, 1, 3);
......
UNIX>
</pre>


<p>
<b>Substr()</b> is a method that takes a starting index and an optional count, and returns a substring of
a string.  The simple example program is
<b><a href=string-sub.cpp>string-sub.cpp</a></b>

<p><center><table border=3 cellpadding=3><td><pre>
<font color=blue>/* This program demonstrates the substr() method of strings. */</font>

#include &lt;iostream&gt;
using namespace std;

int main()
{
  string a;
  size_t i;

  a = "Lighting Strikes.  Lightning Strikes Again.";

  <font color=blue>/* Print out digits, so that it's easier to see the indices of the string. */</font>

  cout &lt;&lt; "    ";
  for (i = 0; i &lt; a.size(); i++) cout &lt;&lt; i%10;
  cout &lt;&lt; endl;

  <font color=blue>/* Now make a few a.substr() calls. */</font>

  cout &lt;&lt; "a = "                           &lt;&lt; a &lt;&lt; endl;
  cout &lt;&lt; "a.substr(19) = "                &lt;&lt; a.substr(19) &lt;&lt; endl;
  cout &lt;&lt; "a.substr(19, 13) = "            &lt;&lt; a.substr(19, 13) &lt;&lt; endl;
  cout &lt;&lt; "a.substr(19, 13).substr(5) = "  &lt;&lt; a.substr(19, 13).substr(5) &lt;&lt; endl;

  return 0;
}
</pre></td></table></center><p>

When only one argument is given to <b>substr()</b>, 
it returns a substring from the given index to the
end of the string.  If two arguments are given, it returns the specified number of
characters.  Since the substring is a string, you can call its methods, such as <b>c_str()</b>
and <b>substr()</b>.

<pre>
UNIX> <font color=darkred><b>string-sub</b></font>
    0123456789012345678901234567890123456789012
a = Lighting Strikes.  Lightning Strikes Again.
a.substr(19) = Lightning Strikes Again.
a.substr(19, 13) = Lightning Str
a.substr(19, 13).substr(5) = ning Str
UNIX> <font color=darkred><b></b></font>
</pre>
<hr>
<h2>Exceptions</h3>

As the name implies, exceptions are meant to handle unexpected things in your programs.
I am not a big fan of their unbridled use, but they can simplify your code, especially with
respect to handling errors.  The way to use an exception is to put the code that you care
about inside a "try" clause.  When you discover an error, you call <b>throw()</b>, passing
it an argument.  At the end of your "try" clause, you can then have one or more <b>catch()</b>
clauses.  The "catch" clause must specify the type of the argument thrown by <b>throw()</b>.
The control flow goes directly from the <b>throw()</b> to the <b>catch()</b>, skipping all
code in between.  

Let's exemplify, in 
<b><a href=ex1.cpp>ex1.cpp</a></b>:

<p><center><table border=3 cellpadding=3><td><pre>
<font color=blue>/* This is a program to demonstrate using exceptions to handle errors.
   We process the command line, and when we get an error, we throw an
   exception, passing a string to the "throw" call. When you throw the
   exception, the control goes to a "catch" clause that specifies the
   type of the thrown exception. */</font>

#include &lt;iostream&gt;
#include &lt;cstdio&gt;
#include &lt;sstream&gt;
using namespace std;

int main(int argc, char **argv)
{
  int a, b, c;
  istringstream ss;

  <font color=blue>/* Process the command line, and when you see something wrong, you throw
     an exception.  Since the quoted strings are actually C-style strings, you 
     need to typecast them to C++ strings when you throw them. */</font>

  try {
    if (argc != 4) throw((string) "usage: ./ex1 a b c");

    ss.clear(); ss.str(argv[1]); if (!(ss &gt;&gt; a)) throw((string) "a is not an integer.");
    ss.clear(); ss.str(argv[2]); if (!(ss &gt;&gt; b)) throw((string) "b is not an integer.");
    ss.clear(); ss.str(argv[3]); if (!(ss &gt;&gt; c)) throw((string) "c is not an integer.");

  <font color=blue>/* Here's where you "catch" a thrown exception. */</font>

  } catch (string s) {
    cerr &lt;&lt; s &lt;&lt; endl;
    return 1;
  }

  <font color=blue>/* If the "try" clause was successful, you'll end up here, skipping the "catch" code. */</font>

  printf("a = %d\n", a);
  printf("b = %d\n", b);
  printf("c = %d\n", c);
  return 0;
}
</pre></td></table></center><p>

When we run this, you can see that whenever we discover an error, the control goes directly 
to the <b>catch()</b> code.  If there's no error, the <b>catch()</b> code is skipped:

<pre>
UNIX> <font color=darkred><b>./ex1</b></font>
usage: ./ex1 a b c
UNIX> <font color=darkred><b>./ex1 no numbers here</b></font>
a is not an integer.
UNIX> <font color=darkred><b>./ex1 55 fred 77</b></font>
b is not an integer.
UNIX> <font color=darkred><b>./ex1 55 66 77 </b></font>
a = 55
b = 66
c = 77
UNIX> <font color=darkred><b></b></font>
</pre>

You'll note that I did a typecast of the quoted string to a C++ string.  If you don't do that,
you'll need to catch a <b>const char *</b>, or you won't catch the exception.  In 
<b><a href=ex2.cpp>ex2.cpp</a></b>, I don't do the typecast, and as you see, the exception
is not caught:

<pre>
UNIX> <font color=darkred><b>./ex2</b></font>
libc++abi.dylib: terminating with uncaught exception of type char const*
Abort
UNIX> <font color=darkred><b></b></font>
</pre>

You can specify a <b>catch</b> that catches anything with:

<p><center><table border=3 cellpadding=3><td><pre>
catch (...)
</pre></td></table></center><p>

You don't get the argument when you do this.

<hr>
<h3>Catching exceptions from procedures and methods</h3>

You don't have to catch an exception in the same <b>try/catch</b> clause.  For example, you 
can call a procedure, and catch its exception, if it doesn't catch it.  Here's a very simple
example, in 
<b><a href=ex3.cpp>ex3.cpp</a></b>.  The procedure <b>a()</b> throws an exception, which 
it does not catch.  Instead, it is caught by <b>main()</b>.

<p><center><table border=3 cellpadding=3><td><pre>
<font color=blue>/* This demonstrates catching an exception thrown by a procedure call. */</font>

#include &lt;iostream&gt;
#include &lt;cstdio&gt;
using namespace std;

<font color=blue>/* The procedure a() throws an exception that it does not catch. */</font>

void a()
{
  printf("A is called, and is going to throw an exception of type int.\n");
  throw(5);
  printf("This code does not get called.\n");
}

<font color=blue>/* Instead, main() catches the exception and prints out its argument. */</font>

int main()
{
  try {
    printf("Calling a()\n");
    a();
    printf("A did not return, did it?\n");

  } catch (int i) {
    printf("I caught an integer: %d\n", i);
  }

  return 0;
}
</pre></td></table></center><p>

You should be able to trace through the code here to see the following output:

<pre>
UNIX> <font color=darkred><b>./ex3</b></font>
Calling a()
A is called, and is going to throw an exception of type int.
I caught an integer: 5
UNIX> <font color=darkred><b></b></font>
</pre>

If you are nested very deep in a sequence of procedure and method calls, and you throw an 
exception, it will be caught by the closest caller who catches that type of exception.
If no one catches it, then you'll see an error like the one with <b>ex2.cpp</b> above.
<hr>
<h3>My advice with exceptions</h3>

As you can imagine, the robust use of exceptions can lead to pretty unreadable code.
For years, I pretended that they didn't exist, but I believe that they can clean up code,
and I'm all for that.  The problems come when you call code that may throw exceptions, and
you don't really know what they are.  Or you have enormous <b>try</b> clauses .  So, here
is my advice with exceptions:

<UL>
<LI> Avoid throwing an exception in one procedure/method and catching it in another.  There
     are times you have to do this (e.g. in a constructor), or if you are writing a library
     for general use, but otherwise, avoid it.
<p>
<LI> As a corollary to this, it is often better to have procedures return error values instead
     of throwing exceptions.  
<p>
<LI> If you throw an exception in one procedure, but don't catch it, then
     catch it in the calling procedure, not way up in a series of nested calls.
     If you do it in a series of nested calls, be aware that as the exception "passes through"
     the nested calls, all of the destructors are called on the local variables.
<p>
<LI> Throw C++ strings -- it makes your life easier in documentation, and their memory management
     is very nice.  You can see above how to force a double-quoted string to be a C++
     string.  There are some standard "exception" types, like `std::runtime_error`, which you
     can learn as well, but to be honest, I don't really see the advantage over strings (and
     I see disadvantages with respect to memory management).
<p>
<LI> Do not throw C-style strings out of a procedure or method.
     You'll trip yourself up with memory management.  Trust me.
<p>
<LI> Don't throw exceptions with multiple types in a single try clause.  Keep it simple.
<p>
<LI> Attempt to keep your try clauses small, and once the period of exception-throwing is over,
     end the try clause.  Once again, this is to keep your code readable, and help the reader
     mentally stay on top of the the flow of control of your program.
<p>
<LI> (When we get to destructors): Don't call an exception in a destructor.  This is a 
     deficiency in the methodology of using exceptions.
</UL>

<hr>
<h3><font color=red>C style strings, C++ sytle strings, the const keyword  and memory</font></h3>
<font color=red>These notes are optional.</font>
<p>
One inconvenient fact of life is that we have to acknowledge and utilize a second
representation of strings: their representation in C.  This is for many reasons:
<p>
<UL>
<LI> String literals are in fact C-style strings.
<LI> If you use <b>printf()</b>, you have to use C-style strings.
<LI> <b>Argv</b> is an array of C-style strings.
<LI> They are required in some C++ functions, like <b>open</b> in <b>fstream</b>.
</UL>
A C-style string is an array of characters that ends with the NULL character ('\0' -- whose
value is actually zero).  Although there are libraries that let you manipulate C-style
strings, they are far more cumbersome than C++ strings because you have to explicitly
manage memory yourself.  We'll see a lot more of this in CS360.  For now, take a look 
at the program 
<b><a href=argv-mess.cpp>argv-mess.cpp</a></b>:

<p><center><table border=3 cellpadding=3><td><pre>
#include &lt;iostream&gt;
#include &lt;string&gt;
#include &lt;cstdlib&gt;
#include &lt;cstdio&gt;
using namespace std;

main(int argc, char **argv)
{
  string a, b;
  char *ca, *ca2, *ca4; 
  const char *ca3;

  if (argc != 2) { cerr &lt;&lt; "usage: argv-mess arg1\n"; exit(1); }

  a = argv[1];
  ca = argv[1];
  ca2 = ca;
  b = a;
  ca3 = a.c_str();

  printf("%-30s %7s %7s %7s %7s %7s %7s\n", "", "a", "b", "ca", "ca2", "ca3", "argv[1]");
  printf("%-30s %7s %7s %7s %7s %7s %7s\n", "", "-------", "-------", "-------", "--------", "-------", "-------");

  printf("%-30s %7s %7s %7s %7s %7s %7s\n", "Start:", 
         a.c_str(), b.c_str(), ca, ca2, ca3, argv[1]);
 
  a[0] = 'Y';
  printf("%-30s %7s %7s %7s %7s %7s %7s\n", "After setting a[0] to 'Y':", 
         a.c_str(), b.c_str(), ca, ca2, ca3, argv[1]);
  
  ca[0] = 'L';
  printf("%-30s %7s %7s %7s %7s %7s %7s\n", "After setting ca[0] to 'L':", 
         a.c_str(), b.c_str(), ca, ca2, ca3, argv[1]);
  
  a = "XX";
  printf("%-30s %7s %7s %7s %7s %7s %7s\n", "After setting a to \"XX\":",
         a.c_str(), b.c_str(), ca, ca2, ca3, argv[1]);
}
</pre></td></table></center><p>

This program has two C++ strings (<b>a</b> and <b>b</b>), two 
<b>(char *)'s</b> (<b>ca</b> and <b>ca2</b>), and a <b>const char *</b> (<b>ca3</b>).
It first sets <b>a</b> to equal <b>argv[1]</b>.  This converts a C style string (<b>argv[1]</b>)
to a C++ style string, which makes a copy.  Second, it sets <b>ca</b> to equal <b>argv[1]</b>.
This is different -- because <b>ca</b> is a <i>pointer</i>, it doesn't make a copy -- <b>ca</b>
and <b>argv[1]</b> simply point to the same character array.
<p>
We next set <b>ca2</b> to equal <b>ca</b>.  Once again, that simply sets one pointer to another.
It doesn't make a copy of the array's contents.  The next statement, which sets <b>b</b> to equal
<b>a</b> <i>does</i> make a copy -- when you set one string equal to another, the string library
makes a copy.
<p>
Finally, we set <b>ca3</b> to equal <b>a.c_str()</b> -- the C++ string library maintains
strings as C-style strings with extra information.  When you asking for <b>c_str()</b>,
you get a pointer to the underlying C-style string.  However, the compiler makes you declare
the pointer as a <b>const</b>, which means that you cannot modify the string.  That is 
for safety -- you can look at the string, but you can't mess with it.
<p>
We print everything out, and then we change <b>a[0]</b> to 'Y'. 
We print everything out again, and then we change <b>ca[0]</b> to 'L'. 
We print everything out again, and then we set <b>a</b> to "XX".  We finish by printing
everything out again:


<pre>
UNIX> <font color=darkred><b>argv-mess Ho</b></font>
                                     a       b      ca     ca2     ca3 argv[1]
                               ------- ------- ------- -------- ------- -------
Start:                              Ho      Ho      Ho      Ho      Ho      Ho
After setting a[0] to 'Y':          Yo      Ho      Ho      Ho      Ho      Ho
After setting ca[0] to 'L':         Yo      Ho      Lo      Lo      Ho      Lo
After setting a to "XX":            XX      Ho      Lo      Lo      Ho      Lo
UNIX> <font color=darkred><b></b></font>
</pre>

It's important for you to understand this output.  In the beginning, all strings 
are <b>"Ho"</b>, but there are in actuality three copies of the string:
<p>
<UL>
<LI> <b>a</b> and <b>ca3</b> point to one copy.
<LI> <b>b</b> points to another copy.
<LI> <b>ca</b>, <b>ca2</b> and <b>argv[1]</b> all point to the third copy.
</UL>

When we set <b>a[0]</b> to 'Y', you can see that only <b>a</b> is affected.  
It should be clear that <b>b</b>, <b>ca</b>, <b>ca2</b> and <b>argv[1]</b> are
not affected.  It's a little surprising the <b>ca3</b> is unaffected.  What
happened is that the string library changed the underlying string.  Drag --
what you should learn from this is that you can't
keep pointers around to the underlying strings -- if you modify a C++ string,
any pointers that you had from <b>c_str()</b> may no longer be valid.
<p>
Now, when we set <b>ca[0]</b> to <b>'L'</b>, you see that <b>ca</b>, <b>ca2</b>
and <b>argv[1]</b> are all changed.  That's because they all point to the same
character array, and we just changed the first character in that array.
<p>
Finally, when we set <b>a</b> to "XX", again only <b>a</b> is changed.  Once
again -- <b>ca3</b>'s contents cannot be relied upon.  
<p>
<b>Hammering home the point:</b> C-style strings are simply arrays of characters.
A C-style string will be a <b>(char *)</b>, which points to the first element of 
the array.  Making copies of C-style strings does not make actual copies -- you 
are simply assigning a pointer.
<p>
C++ style strings, on the other hand, are heavyweight objects that maintain extra
information like the size of the string.  When you copy a C++ string, you make a
copy of the contents.  That's usually what you want.

<hr>
