<title>CS140 Lecture notes -- Argc/Argv and Stringstreams</title>
<body bgcolor=ffffff>
<h1>CS140 Lecture notes -- Argc/Argv and Stringstreams</h1>
<LI><a href=http://web.eecs.utk.edu/~jplank>James S. Plank</a>
<LI>Directory: <b>~jplank/cs140/Notes/Argv</b>
<LI>Lecture notes:
    <a href=http://web.eecs.utk.edu/~jplank/plank/classes/cs140/Notes/Argv>
    <b>http://web.eecs.utk.edu/~jplank/plank/classes/cs140/Notes/Argv</b></a>
<LI> Original Notes -- 2011-ish
<LI> Last modification date: <i>
Tue Aug 24 17:11:32 EDT 2021
</i>
<hr>

<h3>Argc and argv</h3>

You may give <b>main()</b> two parameters, which are conventionally named
<b>argc</b> and <b>argv</b>.  They are usually declared as follows:

<p><center><table border=3 cellpadding=3><td><pre>
int main(int argc, char **argv)
</pre></td></table></center><p>

<b>Argc</b> is an integer.  It stores the number of arguments on the command
line when the program was called.  This includes the name of the program itself.
<p>
<b>Argv</b> looks weird, but what it is is an array of C-style strings.  Sometimes
you see it declared as "<b>char *argv[]</b>," which is equivalent to the above.
Element <b>argv[i]</b> will be a c style string containing the <i>i-th</i> 
command line argument.  These are defined from 0 through <b>argc-1</b>.
<p>
For example, the program 
<b><a href=src/argc.cpp>src/argc.cpp</a></b>
prints out <b>argc</b>, and then each element of <b>argv</b>, first using <b>printf()</b>
with the C-style strings, and then by copying them to C++ strings and using <b>cout</b>:

<p><center><table border=3 cellpadding=3><td><pre>
<font color=blue>/* This program introduces you to argc and argv.  They are parameters to main(), and
   tell you the number of words on the command line, and what those words are.  Note
   that argc is always at least one, and argv[0] is usually the name of the program. */</font>

#include &lt;iostream&gt;
#include &lt;cstdio&gt;
using namespace std;

int main(int argc, char **argv)
{
  int i;
  string s;

  <font color=blue>/* Print argc. */</font>

  printf("Argc is %d\n", argc);
  printf("\n");

  <font color=blue>/* Print argv using printf() and c-style strings. */</font>

  for (i = 0; i &lt; argc; i++) {
    printf("argv[%d] = %s\n", i, argv[i]);
  }
  printf("\n");

  <font color=blue>/* Print argv by copying each argument to a C++ string and printing it with cout. */</font>

  for (i = 0; i &lt; argc; i++) {
    s = argv[i];
    cout &lt;&lt; "argv[" &lt;&lt; i &lt;&lt; "] = " &lt;&lt; s &lt;&lt; endl;
  }
  return 0;
}
</pre></td></table></center><p>
A few examples are straightforward:

<pre>
UNIX> <font color=darkred><b>bin/argc </b></font>
Argc is 1

argv[0] = bin/argc

argv[0] = bin/argc
UNIX> <font color=darkred><b>bin/argc 5</b></font>
Argc is 2

argv[0] = bin/argc
argv[1] = 5

argv[0] = bin/argc
argv[1] = 5
UNIX> <font color=darkred><b>bin/argc - Fred . +</b></font>
Argc is 5

argv[0] = bin/argc
argv[1] = -
argv[2] = Fred
argv[3] = .
argv[4] = +

argv[0] = bin/argc
argv[1] = -
argv[2] = Fred
argv[3] = .
argv[4] = +
UNIX> <font color=darkred><b></b></font>
</pre>


And now a few non-straightforward examples that have mostly do to with the Unix shell.
If you perform redirection of standard input or standard output, those specifications 
are stripped out by the shell and are not included in <b>argc/argv</b>:

<pre>
UNIX> <font color=darkred><b>bin/argc < src/argc.cpp </b></font>
Argc is 1

argv[0] = bin/argc

argv[0] = bin./argc
UNIX> <font color=darkred><b></b></font>
</pre>

You can even put those specifications at the beginning of the command -- it matters not:

<pre>
UNIX> <font color=darkred><b>&gt; output.txt bin/argc &lt; src/argc.cpp Shaft </b></font>
UNIX> <font color=darkred><b>cat output.txt</b></font>
Argc is 2

argv[0] = bin/argc
argv[1] = Shaft

argv[0] = bin/argc
argv[1] = Shaft
UNIX> <font color=darkred><b></b></font>
</pre>

If you use single or double quotes, you can put spaces into single arguments.  You can use 
single quotes to put double quotes into arguments and vice-versa:

<pre>
UNIX> <font color=darkred><b>bin/argc "Jim Plank" 'Jim Plank'</b></font>
Argc is 3

argv[0] = bin/argc
argv[1] = Jim Plank
argv[2] = Jim Plank

argv[0] = bin/argc
argv[1] = Jim Plank
argv[2] = Jim Plank
UNIX> <font color=darkred><b>bin/argc "They call him 'Thor'"</b></font>
Argc is 2

argv[0] = bin/argc
argv[1] = They call him 'Thor'

argv[0] = bin/argc
argv[1] = They call him 'Thor'
UNIX> <font color=darkred><b>bin/argc 'He said, "Quoting, it'"'s quite confusing."'"'</b></font>
Argc is 2

argv[0] = bin/argc
argv[1] = He said, "Quoting, it's quite confusing."

argv[0] = bin/argc
argv[1] = He said, "Quoting, it's quite confusing."
UNIX> <font color=darkred><b></b></font>
</pre>

Finally, an asterisk (*) on the command line  performs pattern matching on the file names
in the current directory.  For example, "*" matches all files.  "*.cpp" matches all files that
end with ".cpp".  These are then put onto the command line and into argv:

<pre>
UNIX> <font color=darkred><b>bin/argc src/*.cpp | head -n 10</b></font>
Argc is 8

argv[0] = bin/argc
argv[1] = src/argc.cpp
argv[2] = src/argv1int.cpp
argv[3] = src/argv2int.cpp
argv[4] = src/argvallint.cpp
argv[5] = src/clearing-output.cpp
argv[6] = src/identify_words.cpp
argv[7] = src/onetoten.cpp
UNIX> 
</pre>

<hr>
<h3>When using argv, you should convert the strings to C++ strings </h3>

Whenever you use <b>argv</b>, unless you are just printing out the strings, you should
convert them to C++ strings.  To illustrate, here's
<b><a href=src/argv-beware.cpp>src/argv-beware.cpp</a></b>.   Please read the inline comments.

<p><center><table border=3 cellpadding=3><td><pre>
<font color=blue>/* This program takes two strings on the comand line and compares them to see if they
   are identical or equal to the string "Fred".  The point of this is to show you that when you use 
   the elements of argv as a C-style string, you'll get unexpected results.  The takeaway is
   that you should always convert the strings in argv to C++-style strings. */</font>

#include &lt;iostream&gt;
#include &lt;cstdio&gt;
using namespace std;

int main(int argc, char **argv)
{
  string a1, a2;

  <font color=blue>/* Error check and print the two words. */</font>

  if (argc != 3) {
    cerr &lt;&lt; "usage: bin/argc-beware word1 word2\n";
    return 1;
  }

  printf("Word 1: %s\n", argv[1]);
  printf("Word 2: %s\n", argv[2]);

  <font color=blue>/* This automatically converts them to C++ strings. */</font>

  a1 = argv[1];
  a2 = argv[2];

  <font color=blue>/* Now do various comparisons with the C and C++ versions */</font>

  printf("Comparing them as C-style strings:    %d\n", (argv[1] == argv[2]));
  printf("Comparing them as C++ strings:        %d\n", (a1 == a2));
  printf("Equal to the C string \"Fred?\"?        %d\n", (argv[1] == "Fred"));
  printf("Equal to the C++ string \"Fred?\"?      %d\n", (a1 == "Fred"));
  
  printf("Doing the comparison with a typecast: %d\n", ((string) argv[1] == (string) argv[2]));

  return 0;
}
</pre></td></table></center><p>

When we run this with two different strings, we get the expected output: They don't equal
each other, and they don't equal the string "Fred":

<pre>
UNIX> <font color=darkred><b>bin/argv-beware </b></font>
usage: bin/argc-beware word1 word2
UNIX> <font color=darkred><b>bin/argv-beware a b</b></font>
Word 1: a
Word 2: b
Comparing them as C-style strings:    0
Comparing them as C++ strings:        0
Equal to the C string "Fred?"?        0
Equal to the C++ string "Fred?"?      0
Doing the comparison with a typecast: 0
UNIX>
</pre>

When we specify two identical strings, you'll note that as C-style strings, they don't
equal each other:

<pre>
UNIX> <font color=darkred><b>bin/argv-beware a a </b></font>
Word 1: a
Word 2: a
Comparing them as C-style strings:    0         <font color=blue> # Here's where they don't equal each other.</font>
Comparing them as C++ strings:        1
Equal to the C string "Fred?"?        0
Equal to the C++ string "Fred?"?      0
Doing the comparison with a typecast: 1
UNIX>
</pre>

You don't need to worry about the reason until you take CS360, but in case you're curious, it's
because the C-style strings are pointers to the characters, and each of <b>argv[1]</b> 
and <b>argv[2]</b> points to different memory locations.
<p>
If I have the arguments be "Fred", you'll see that again, the C-style strings don't equal
each other or "Fred":

<pre>
UNIX> <font color=darkred><b>bin/argv-beware Fred Fred</b></font>
Word 1: Fred
Word 2: Fred
Comparing them as C-style strings:    0       <font color=blue> # Again, they don't equal each other.</font>
Comparing them as C++ strings:        1
Equal to the C string "Fred?"?        0       <font color=blue> # Or Fred, as C-style strings</font>
Equal to the C++ string "Fred?"?      1
Doing the comparison with a typecast: 1
UNIX> <font color=darkred><b></b></font>
</pre>

A final note -- if you put "(string)" before <b>argv[i]</b> in an expression, then it will
convert <b>argv[i]</b> to a C++ string.  That's in the code above, and it often useful for
when you want to compare the string to a literal.

<p>
And a post-final note, when you compile this with <b>-Wall</b> and <b>-Wextra</b>, you get a
very valid warning:

<pre>
UNIX> <font color=darkred><b>g++ -Wall -Wextra --std=c++98 -o bin/argv-beware src/argv-beware.cpp</b></font>
src/argv-beware.cpp: In function 'int main(int, char**)':
src/argv-beware.cpp:33:70: warning: comparison with string literal results in unspecified behavior -Waddress]
   printf("Equal to the C string \"Fred?\"?        %d\n", (argv[1] == "Fred"));
                                                                      ^~~~~~
UNIX>
</pre>

<hr>
<h3>Stringstreams for parsing command line arguments</h3>

Stringstreams are C++ primitives which allow you to treat strings like <b>cin</b> and <b>cout</b>.
If you want to treat a string <b>s</b> like <b>cin</b>, then you declare an <b>istringstream</b>
and initialize it with the <b>str()</b> method.  Here's an example that converts <b>argv[1]</b>
into an <b>istringstream</b> and then uses that to convert <b>argv[1]</b> into an integer.
It is in
<b><a href=src/argv1int.cpp>src/argv1int.cpp</a></b>


<p><center><table border=3 cellpadding=3><td><pre>
<font color=blue>/* This program uses a stringstream to convert the first command line
   argument to an integer.  It prints an error if it is not an integer. */</font>

#include &lt;iostream&gt;
#include &lt;cstdio&gt;
#include &lt;sstream&gt;
using namespace std;

int main(int argc, char **argv)
{
  istringstream ss;
  int i;

  <font color=blue>/* Make sure there is exactly one command line argument. */</font>

  if (argc != 2) { 
    cerr &lt;&lt; "usage: argv1int argument\n"; 
    return 1; 
  }

  <font color=blue>/* Use the stringstream to convert the argument to an integer, or print
     an error on standard error. */</font>

  ss.str(argv[1]);
  if (ss &gt;&gt; i) {
    printf("Integer: %d\n", i);
  } else {
    fprintf(stderr, "The argument %s is not an integer.\n", argv[1]);
    return 1;
  } 

  return 0;
}
</pre></td></table></center><p>
First, if you want to use <b>printf()</b> to print to standard error, you 
simply call <b>fprintf()</b> and make the first parameter <b>stderr</b>.
<p>
Second, you include <b>sstream</b> to use stringstreams.  You treat <b>ss</b>
above just like <b>cin</b> to determine whether <b>argv[1]</b> is an integer.
<p>

<pre>
UNIX> <font color=darkred><b>bin/argv1int </b></font>
usage: argv1int argument
UNIX> <font color=darkred><b>bin/argv1int 8000</b></font>
Integer: 8000
UNIX> <font color=darkred><b>bin/argv1int Fred</b></font>
The argument Fred is not an integer.
UNIX> <font color=darkred><b></b></font>
</pre>

An unfortunate part about a stringstream is that you cannot simply call
the <b>str()</b> method to set it to another string.  For example, 
<b><a href=src/argv2int.cpp>src/argv2int.cpp</a></b>
is a logical extension to <b>src/argv1int.cpp</b> to read <b>argv[1]</b> into <i>i</i>
and 
<b>argv[2]</b> into <i>j</i>:

<p><center><table border=3 cellpadding=3><td><pre>
<font color=blue>/* Here we try to read argument 1 into i and argument 2 into j, but the second
   one fails, because we haven't cleared the stringstream.  In other words, if
   you put two integers on the command line, it will fail. */</font>

#include &lt;iostream&gt;
#include &lt;cstdio&gt;
#include &lt;sstream&gt;
using namespace std;

int main(int argc, char **argv)
{
  istringstream ss;
  int i, j;

  <font color=blue>/* Error check to make sure we have three arguments. */</font>

  if (argc != 3) { 
    cerr &lt;&lt; "usage: argv1int argument argument\n";
    return 1; 
  }

  <font color=blue>/* Read the first argument into i. */</font>

  ss.str(argv[1]);
  if (ss &gt;&gt; i) {
    printf("Argument i: %d\n", i);
  } else {
    fprintf(stderr, "Argument i -- %s is not an integer.\n", argv[1]);
    return 1;
  } 

  <font color=blue>/* Read the first argument into j. */</font>

  ss.str(argv[2]);
  if (ss &gt;&gt; j) {
    printf("Argument j: %d\n", j);
  } else {
    fprintf(stderr, "Argument j -- %s is not an integer.\n", argv[2]);
    return 1;
  } 

  return 0;
}
</pre></td></table></center><p>

When we run it, it fails on <i>j</i>, even though <b>argv[2]</b> does represent
an integer:

<pre>
UNIX> <font color=darkred><b>bin/argv2int 1 2</b></font>
Argument i: 1
Argument j -- 2 is not an integer.
UNIX> <font color=darkred><b></b></font>
</pre>


This is because you have to call <b>clear()</b> on the stringstream before calling
<b>ss.str(argv[2])</b>.  That's a drag -- try to remember it so that you don't get
burnt by it when programming.  To hammer this home, 
<b><a href=src/argvallint.cpp>src/argvallint.cpp</a></b>
tests each command line argument to see if it is an integer:

<p><center><table border=3 cellpadding=3><td><pre>
<font color=blue>/* This reads all of the arguments on the command line to determine 
   whether each is an integer or not.  You have to call clear() on 
   the stringstream each time you set it to a new string.  */</font>

#include &lt;iostream&gt;
#include &lt;cstdio&gt;
#include &lt;sstream&gt;
using namespace std;

int main(int argc, char **argv)
{
  istringstream ss;
  int i, j;

  for (i = 1; i &lt; argc; i++) {
    ss.clear();                      <font color=blue>// Here is the clear command.</font>
    ss.str(argv[i]);
    if (ss &gt;&gt; j) {
      printf("Argument %d -- %d\n", i, j);
    } else {
      printf("Argument %d -- %s is not an integer.\n", i, argv[i]);
    }
  }
  return 0;
}
</pre></td></table></center><p>
<pre>
UNIX> <font color=darkred><b>bin/argvallint 1 2 buckle my shoe. 3 4 get out the door.</b></font>
Argument 1 -- 1
Argument 2 -- 2
Argument 3 -- buckle is not an integer.
Argument 4 -- my is not an integer.
Argument 5 -- shoe. is not an integer.
Argument 6 -- 3
Argument 7 -- 4
Argument 8 -- get is not an integer.
Argument 9 -- out is not an integer.
Argument 10 -- the is not an integer.
Argument 11 -- door. is not an integer.
UNIX> <font color=darkred><b></b></font>
</pre>

<hr>
<h3>Stringstreams to create strings</h3>

You can use the <b>ostringstream</b> type to create a string using functionality like <b>cout</b>.
In this case, you simply call  <b>str()</b> to convert the stringstream to a string.
Here's an example in 
<b><a href=src/onetoten.cpp>src/onetoten.cpp</a></b>:

<p><center><table border=3 cellpadding=3><td><pre>
<font color=blue>/* Use an ostringstream to create a string that contains the numbers from 1 to 10. */</font>

#include &lt;iostream&gt;
#include &lt;cstdio&gt;
#include &lt;sstream&gt;
using namespace std;

int main()
{
  ostringstream ss;
  string s;
  int i;

  for (i = 1; i &lt; 11; i++) ss &lt;&lt; i &lt;&lt; " ";
  s = ss.str();
  cout &lt;&lt; s &lt;&lt; endl;
  return 0;
}
</pre></td></table></center><p>
It creates a string containing the numbers 1 through 10 and then prints it out:

<pre>
UNIX> <font color=darkred><b>bin/onetoten</b></font>
1 2 3 4 5 6 7 8 9 10 
UNIX> <font color=darkred><b></b></font>
</pre>

When you want to "reuse" an <b>ostringstream</b>, you need to clear it, <i>and</i>
to call its <b>str()</b> method with an empty string as its argument.  That resets
it to be empty.  If you don't do it and you're not ready for it, you'll get some surprising output.
For example, 
<b><a href=src/clearing-output.cpp>src/clearing-output.cpp</a></b>
uses a stringstream to create four strings with four numbers each.  It does this twice.
The first time, it doesn't call <b>ss.str("")</b>, and so what you see is that the stringstream
keeps getting appended, instead of getting cleared with each line.  The second time, it 
does call <b>ss.str("")</b>, and you see that the stringstream is cleared properly:

<p><center><table border=3 cellpadding=3><td><pre>
<font color=blue>/* This program's intent is to use a single ostringstream to create four strings, 
   each of which has four numbers in it.  We do it twice -- once incorrectly, because
   we don't call str("") on the stringstream to reset it.  The second time, we do it
   correctly. */</font>

#include &lt;iostream&gt;
#include &lt;cstdio&gt;
#include &lt;cstdlib&gt;
#include &lt;sstream&gt;
using namespace std;

int main()
{
  ostringstream ss;
  int i;
  string s;

  <font color=blue>/* Here we create four strings, each of which is supposed to hold four numbers,
     with an ostringstream, but we do it incorrectly. */</font>

  printf("Using the stringstream incorrectly:\n\n");

  for (i = 0; i &lt; 4; i++) {
    ss.clear();
    ss &lt;&lt; 10*i &lt;&lt; " " &lt;&lt; 10*i+1 &lt;&lt; " " &lt;&lt; 10*i+2 &lt;&lt; " " &lt;&lt; 10*i+3;
    s = ss.str();
    cout &lt;&lt; s &lt;&lt; endl;
  }
  cout &lt;&lt; endl;

  <font color=blue>/* Now we do the same thing, but correctly, by calling ss.str("") before
     putting numbers into the stringstream. */</font>

  printf("Using the stringstream correctly:\n\n");

  for (i = 0; i &lt; 4; i++) {
    ss.clear();
    ss.str("");                        <font color=blue>// This is the only change from the code above.</font>
    ss &lt;&lt; 10*i &lt;&lt; " " &lt;&lt; 10*i+1 &lt;&lt; " " &lt;&lt; 10*i+2 &lt;&lt; " " &lt;&lt; 10*i+3;
    s = ss.str();
    cout &lt;&lt; s &lt;&lt; endl;
  }
  cout &lt;&lt; endl;

  return 0;
}
</pre></td></table></center><p>

Here's the output -- as you can see, the first set of strings looks really odd, because
the stringstream does not get reset:

<pre>
UNIX> <font color=darkred><b>bin/clearing-output</b></font>
Using the stringstream incorrectly:

0 1 2 3
0 1 2 310 11 12 13
0 1 2 310 11 12 1320 21 22 23
0 1 2 310 11 12 1320 21 22 2330 31 32 33

Using the stringstream correctly:

0 1 2 3
10 11 12 13
20 21 22 23
30 31 32 33

UNIX> <font color=darkred><b></b></font>
</pre>

<hr>
<h3>Getline and stringstreams - a very useful program:</h3>

As mentioned in the lecture notes on string and vector basics, 
the procedure <b>getline(cin, s)</b> reads a line of input from standard input and puts
it into the string <b>s</b>.  Spaces are preserved.  You can combine <b>getline</b> 
and stringstreams to identify and get access to individual words on each line,
as in 
<b><a href=src/identify_words.cpp>src/identify_words.cpp</a></b>.  This program contains some
code that I use all the time to process standard input.  It reads a line, and then
using a stringstream, it creates a vector of the words on the line.  It then 
prints info and the words:

<p><center><table border=3 cellpadding=3><td><pre>
<font color=blue>/* This program contains code that I use all the time, to read a line on 
   standard input, and then to create a vector of all of the words on the line. */</font>

#include &lt;iostream&gt;
#include &lt;cstdio&gt;
#include &lt;sstream&gt;
#include &lt;vector&gt;
using namespace std;

int main()
{
  string line;              <font color=blue>// The line</font>
  vector &lt;string&gt; sv;       <font color=blue>// This holds the words on the current line</font>
  int ln;                   <font color=blue>// Line number</font>
  size_t w;                 <font color=blue>// Word number</font>
  string s;                 <font color=blue>// Helper</font>
  istringstream ss;         <font color=blue>// Helper</font>

  ln = 0;

  <font color=blue>/* Read the current line and update the line number. */</font>

  while (getline(cin, line)) {
    ln++;

    <font color=blue>/* Using a stringstream, create the vector of words on the line. */</font>

    sv.clear();
    ss.clear();
    ss.str(line);
    while (ss &gt;&gt; s) sv.push_back(s);

    <font color=blue>/* Print the line number, number of words, and the words. */</font>

    printf("Line %d.  # Words: %lu:", ln, sv.size());
    for (w = 0; w &lt; sv.size(); w++) printf(" %s", sv[w].c_str());
    printf("\n");
  }

  return 0;
}
</pre></td></table></center><p>

<pre>
UNIX> <font color=darkred><b>cat data/input.txt</b></font>
There's a port on a western bay
And it serves a hundred ships a day.
Lonely sailors pass the time away
And talk about their homes.
UNIX> <font color=darkred><b>bin/identify_words < data/input.txt</b></font>
Line 1.  # Words: 7: There's a port on a western bay
Line 2.  # Words: 8: And it serves a hundred ships a day.
Line 3.  # Words: 6: Lonely sailors pass the time away
Line 4.  # Words: 5: And talk about their homes.
UNIX> <font color=darkred><b></b></font>
</pre>
