<title>CS140 Lecture notes -- Topcoder for Lab</title>
<body bgcolor=ffffff>
<h1>CS140 Lecture notes -- Topcoder for Lab</h1>
<UL>
<LI><a href=http://web.eecs.utk.edu/~jplank>James S. Plank</a>
<LI>Directory: <b>~jplank/cs140/notes/Topcoder</b>
<LI>Lecture notes:
    <a href=http://web.eecs.utk.edu/~jplank/plank/classes/cs140/Notes/Topcoder>
    <b>http://web.eecs.utk.edu/~jplank/plank/classes/cs140/Notes/Topcoder</b></a>
<LI> Original notes: January, 2013
<LI> Last modification date: <i>
Mon Aug 23 12:03:07 EDT 2021
</i>
</UL>
<hr>
In your labs, I will give you one to three topcoder problems to solve.  
I used to have you use Topcoder's software to do this, but now you can simply work on your
own computer with your own compiler.

<p>
For each topcoder problem, I will give you a web link to one of my files.  For example,
the first one that I will give you in lab is to the problem "FauxPalindromes".  This was
from SRM #564 (Topcoder tournaments are called "Single Round Matches" or SRMs).  It was
in Division two (there are two divisions, D1 for experts and D2 for novices), worth
250 points (typically there are three problems: 250, 500 and 1000 points).
<p>
Here's the link: <a href=http://web.eecs.utk.edu/~jplank/topcoder-writeups/2012/FauxPalindromes/index.html>http://web.eecs.utk.edu/~jplank/topcoder-writeups/2012/FauxPalindromes/index.html</a>.
<p>
The web pages that I give you will have links to the description of the problem on Topcoder.
You can try that link, but sometimes it doesn't work.  I'll also have a section entitled
"In Case Topcoder's Servers Are Down," which gives you a summary description 
of the problem, and e examples.  Then, I have a few files to help you:

<UL>
<LI> <a href=http://web.eecs.utk.edu/~jplank/topcoder-writeups/2012/FauxPalindromes/main.cpp>main.cpp</a>.  This is a C++ file that has a <b>main()</b> with the examples compiled in, and it also
allows you to enter input on standard input.  
<LI> <a href=http://web.eecs.utk.edu/~jplank/topcoder-writeups/2012/FauxPalindromes/FauxPalindromes.cpp>FauxPalindromes.cpp</a>.  This is a C++ file that has the skeleton of the problem -- it's
like the version above where we simply defined the class and method, and had the method return
the empty string.
<LI> <a href=http://web.eecs.utk.edu/~jplank/topcoder-writeups/2012/FauxPalindromes/tests.sh>tests.sh</a>.  This is a shell script that performs a lot of calls to your program, assuming that <b>main.cpp</b> has been compiled to <b>a.out</b>
<LI> <a href=http://web.eecs.utk.edu/~jplank/topcoder-writeups/2012/FauxPalindromes/answers.txt>answers.txt</a>.  This is the correct output of <b>tests.sh</b>
</UL>

Go ahead and copy all four of these files to your own directory (right-click the links and do "save link as").  The way you use <b>main.cpp</b> is a little quirky.  As you can see, the first line
includes "FauxPalindromes.cpp":

<pre>
UNIX> <font color=darkred><b>ls -l</b></font>
total 40
-rw-r--r--@ 1 jplank  staff   322 Aug 28 17:39 FauxPalindromes.cpp
-rw-r--r--@ 1 jplank  staff   947 Aug 28 17:39 answers.txt
-rw-r--r--@ 1 jplank  staff   965 Aug 28 17:39 main.cpp
-rw-r--r--@ 1 jplank  staff  5614 Aug 28 17:36 tests.sh
UNIX> <font color=darkred><b>head -n 1 main.cpp</b></font>
#include "FauxPalindromes.cpp"
UNIX> <font color=darkred><b></b></font>
</pre>

That is not something you normally want to do, but it is convenient here.  If you compile <b>main.cpp</b>, it will include <b>FauxPalindromes.cpp</b> and compile into an <b>a.out</b> that you can 
use for testing.  Let's look at <b>FauxPalindromes.cpp</b>

<p><center><table border=3 cellpadding=3><td><pre>
#include &lt;string&gt;
#include &lt;vector&gt;
#include &lt;list&gt;
#include &lt;cmath&gt;
#include &lt;algorithm&gt;
#include &lt;map&gt;
#include &lt;set&gt;
#include &lt;iostream&gt;
#include &lt;cstdio&gt;
#include &lt;cstdlib&gt;
using namespace std;

class FauxPalindromes {
  public:
    string classifyIt(string word);
};

string FauxPalindromes::classifyIt(string word)
{
  return "";
}
</pre></td></table></center><p>

We compile it by compiling <b>main.cpp</b> (which includes it):

<pre>
UNIX> <font color=darkred><b>g++ main.cpp</b></font>
UNIX> <font color=darkred><b>ls -l a.out</b></font>
-rwxr-xr-x  1 plank  staff  21460 Aug 28 17:42 a.out
UNIX> <font color=darkred><b></b></font>
</pre>

Now when we run it, we can give the example number on the command line:

<pre>
UNIX> <font color=darkred><b>./a.out 0</b></font>

UNIX> 
</pre>

We can also give it the argument "-", and enter an example string on standard input:

<pre>
UNIX> <font color=darkred><b>echo FRED | ./a.out -</b></font>

UNIX> <font color=darkred><b></b></font>
</pre>

Of course, in both cases, it prints an empty line.  That's because 
the return value of <b>FauxPalindromes::classifyIt()</b>,
is the empty string.  Let's modify <b>FauxPalindromes.cpp</b> so that it returns the string
<i>word</i>:

<pre>
UNIX> <font color=darkred><b>vi FauxPalindromes.cpp </b></font>      <font color=blue># Change the program so that it returns word instead of "".</font>
UNIX> <font color=darkred><b>g++ main.cpp</b></font>
UNIX> <font color=darkred><b>./a.out 0</b></font>
ANA
UNIX> <font color=darkred><b>./a.out 1</b></font>
AAAAANNAA
UNIX> <font color=darkred><b>echo FRED | ./a.out -</b></font>
FRED
UNIX> <font color=darkred><b></b></font>
</pre>

Now, let's solve the problem.  The way I'll solve it is to create three additional strings:

<OL>
<LI> <i>rword</i> is the string <i>word</i> reversed.
<LI> <i>p</i> is the string <i>word</i> without duplicate characters.
<LI> <i>r</i> is the string <i>p</i> reversed.
</OL>

You use these to test for the proper conditions:

<UL>
<LI> If <i>word</i> equals <i>rword</i>, then it's a palindrome.
<LI> If <i>p</i> equals <i>r</i>, then it's a faux palindrome.
<LI> Otherwise, it's nothing.
</UL>

Here's the code:

<p><center><table border=3 cellpadding=3><td><pre>
#include &lt;iostream&gt;
using namespace std;

class FauxPalindromes 
{ 
  public:
    string classifyIt(string word);
};

string FauxPalindromes::classifyIt(string word) {
  string rword, p, r;
  size_t i;
  int j;
  
  for (j = word.size()-1; j &gt;= 0; j--) rword.push_back(word[j]);     <font color=blue>// rword is the reverse of word.</font>
  if (word == rword) return "PALINDROME";
  
  p.push_back(word[0]);                                              <font color=blue>// p is word, but without any repeated characters.</font>
  for (i = 1; i &lt; word.size(); i++) {
    if (word[i] != word[i-1]) p.push_back(word[i]);
  }

  for (j = p.size()-1; j &gt;= 0; j--) r.push_back(p[j]);               <font color=blue>// r is the reverse of p.</font>

  if (r == p) return "FAUX";
  return "NOT EVEN FAUX";
}

</pre></td></table></center><p>

Now, when we compile <b>main.cpp</b>, it incorporates the changes, and we are getting answers
correct!

<pre>
UNIX> <font color=darkred><b>g++ main.cpp</b></font>
UNIX> <font color=darkred><b>./a.out 0</b></font>
PALINDROME
UNIX> <font color=darkred><b>./a.out 1</b></font>
FAUX
UNIX> <font color=darkred><b>echo ABBA | ./a.out -</b></font>
PALINDROME
UNIX> <font color=darkred><b>echo AAAABA | ./a.out -</b></font>
FAUX
UNIX> <font color=darkred><b>echo FRED | ./a.out -</b></font>
NOT EVEN FAUX
UNIX> <font color=darkred><b></b></font>
</pre>

Now, the shell script <b>tests.sh</b> runs a bunch of examples.  It assumes that your
program is compiled to <b>a.out</b>.  Run it as follows:

<pre>
UNIX> <font color=darkred><b>sh tests.sh</b></font>
NOT EVEN FAUX
FAUX
PALINDROME
FAUX
....
UXNI>
</pre>

Now, to test yourself, run <b>tests.sh</b> and redirect standard output to a file (I'll
use <b>junk.txt</b>).  Then compare this file to <b>answers.txt</b> using the program
<b>diff</b> or <b>openssl</b>:

<pre>
UNIX> <font color=darkred><b>sh tests.sh > junk.txt</b></font>
UNIX> <font color=darkred><b>diff junk.txt answers.txt</b></font>                     <font color=blue> # If they are identical, this will produce no output</font>
UNIX> <font color=darkred><b>openssl md5 junk.txt answers.txt</font></b>              <font color=blue> # If they are identical, their MD5 hashes will be identical</font>
MD5(junk.txt)= 6e0336d91bff65fa3938c2ed9a5919c2
MD5(answers.txt)= 6e0336d91bff65fa3938c2ed9a5919c2
UNIX> <font color=darkred><b></b></font>
</pre>

<b>tests.sh</b> is not hard to read -- it just does a test per line:

<pre>
UNIX> <font color=darkred><b>head tests.sh</b></font>
echo ICJGJCFGEGHIAFFFFAIHGEGFCJGJC | ./a.out -
echo ENHPIECCMPEGPJJJPGEPMCEIPHNE | ./a.out -
echo OOCBCLDNCEMOFDALNLADFOMECNDLCBCOO | ./a.out -
echo CPPRRXXAGGGKKSUUUMUUUUUSSSKGGAAAXRPC | ./a.out -
echo JKKKNFKLNFHJJGPIMMMGJGMMIPPGJHFFNLKKFNNKKJJ | ./a.out -
echo DBBMMMBBIIIMMBDQQMMMMMQQDDBMMIIIBBMMMBBBDD | ./a.out -
echo BAEBAFFCGDEGDDGEDGCFFABEAB | ./a.out -
echo DDIAHDCBBDBGDADGBDBBCDHAIDD | ./a.out -
echo JLDNFNFGEOFNCCNFOEGFNFNDLJ | ./a.out -
echo KCKAAGMGGIGJJKKKGCDDJCOIIIOOCJDCGKKKJGIGGMMGAAKKCK | ./a.out -
UNIX> <font color=darkred><b></b></font>
</pre>

In lab, you need to demonstrate to your TA that your program works.  I include
MD5 hashes for <b>tests.sh</b> and <b>answers.txt</b> so that you cannot modify them.
<hr>
<h3>A final aside about including the cpp file from main.cpp</h3>

That <b>#include "FauxPalindromes.cpp"</b> statement is something you don't see every day, and
that is for good reason.  In general, it's a bad thing to do, so <i>please</i> don't do it in your
code, and if you do end up doing it, please don't say that I taught it to you.  It will make both
you and me look bad...

<hr>
<h1> In case you want to use the topcoder Arena</h1>

<i>You don't need to do this -- I simply include it in case you want to try using
Topcoder's software</i>
<p>


In this set of lecture notes, I will go over an example of doing this, how you 
sometimes have to fight topcoder, and how you can do a problem without Topcoder's
servers working.
<p>
Suppose in lab, I say to do the problem "FauxPalindromes".  Often, I will give you 
a URL to some notes on the problem, for example:
<a href=http://web.eecs.utk.edu/~jplank/topcoder-writeups/2012/FauxPalindromes/index.html>http://web.eecs.utk.edu/~jplank/topcoder-writeups/2012/FauxPalindromes/index.html</a>.
<p>

This is how I anticipate that you do the problem.  First, you'll need to create an account
with topcoder.  Then, go to 
<a href=https://arena.topcoder.com>https://arena.topcoder.com</a>.  You'll see a screen
something like the following:

<p><center><table border=3><td><a href=SS-01.jpg><img src=SS-01.jpg width=800></a></td></table></center><p>

Now, move your mouse to the green icon, which is the icon circled below, and click on it.
That should get you to the "practice problems" page:

<p><center><table border=3><td><img src=SS-02.jpg></td></table></center><p>

The "practice problems" page looks like the screenshot below:

<p><center><table border=3><td><a href=SS-03.jpg><img src=SS-03.jpg width=800></a></td></table></center><p>

Type "FauxPalindromes" into the search bar, and you'll see the problem, click on it, and you'll
get a screen that looks as follows (As they warn you, this may take a minute or two.  When I 
was writing these notes, it took over a minute.  Evidently,
Topcoder uses a server farm of Raspberry Pi's to hold their problems.)

<p><center><table border=3><td><a href=SS-04.jpg><img src=SS-04.jpg width=800></a></td></table></center><p>

Go ahead and read the problem description, including the constraints and examples.
Think about how to solve it.  My strategy for solving this problem would be as follows:

<UL>
<LI> First create the string in reverse, and if that is equal to the original string, then
     return "PALINDROME".
<LI> Go through the string, and create a new string <b>p</b>, which contains the original
     string, but without any repeated characters.  In other words, "AAABCC" would become "ABC".
<LI> Create another string <b>r</b> which is <b>p</b> in reverse.
<LI> If <b>p</b> equals <b>r</b>, return "FAUX", and if not, return "NOT EVEN FAUX".
</UL>

Time to start writing the code.  You'll note that there is a section called "Definition", which
gives you the class and method definitions that you should implement:

<p><center><table border=3><td><img src=SS-05.jpg></td></table></center><p>

Start off by defining the class, and implementing the method so that it simply returns
an empty string.  I've done that below (I clicked on the icon to expand the "coding area"):

<p><center><table border=3><td><a href=SS-06.jpg><img src=SS-06.jpg width=800></a></td></table></center><p>

Click on "compile" to make sure that you have these details correct.  You'll get a warning
(since you didn't use the argument "word"), but that's fine.  Now you're ready to actually 
write code.  Here's my implementation.  The comments are for you, by the way.  I typically don't
comment when I'm doing Topcoder.  (Oh, and if you click on the picture, you can see the screenshot
in its full size -- that's true with most of the screenshots here).

<p><center><table border=3><td><a href=SS-07.jpg><img src=SS-07.jpg width=800></a></td></table></center><p>

Compile this, and then click on the "Test Panel".  This allows you to run your program on the
examples.  I clicked on the "Click All" button and then ran, and the window brings up that I 
failed cases two and four.  Crap!!!

<p><center><table border=3><td><a href=SS-08.jpg><img src=SS-08.jpg width=400></a></td></table></center><p>

You can debug however you want. I pretty much knew my error right away -- I'm calling 
<b>r.push_back(p[i])</b> instead of <b>r.push_back(p[j])</b>.  If you put <b>cout</b> or
<b>printf()</b> statements into your code, you'll see standard output in the window after
clicking "Run".  When you're satisfied and you want to submit, then you click "submit"
and it will tell you how many points you've gotten.  That doesn't mean that your program 
is right, though.  To see that, click on "Run System Tests".  If all has gone well, then you'll
see the following:

<p><center><table border=3><td><a href=SS-09.jpg><img src=SS-09.jpg width=400></a></td></table></center><p>

Otherwise, you'll have to go back, fix your code and resubmit.  When you fail, it doesn't appear
to tell you why.  That's a drag.  Also, if you want to add test cases to the "Test Panel," click
on "+Add" and you can create your own test cases.
<p>
